* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn,
.jumbotron,
.nav :hover {
  border-radius: 0px;
}

body {
  background: #343a40;
}

.btn-left {
  height: 80px;
  width: 100%;
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}

.product-card {
  padding: 5px;
  margin: 10px;
}

.product-des {
  font-size: 16px;
  font-style: italic;
  line-height: 1;
}

p {
  padding: 0px;
  /* margin: 0px; */
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  color: white;
}

.form-control {
  font-size: 14px;
  font-weight: bold;
}

.main-height {
  padding: 20px 10px;
}
